[Unit]
Description=Erigon Daemon 
After=network.target
 
[Service]
EnvironmentFile=/etc/erigon/rpcdaemon.conf
ExecStart=/usr/bin/rpcdaemon $ARGS
User=ether
Group=ether
Restart=on-failure
 
# Specifies which signal to use when killing a service. Defaults to SIGTERM.
# SIGHUP gives openethereum time to exit cleanly before SIGKILL (default 90s)
KillSignal=SIGHUP
 
[Install]
WantedBy=default.target
