[Unit]
Description=Bitcoin Exporter

[Service]
User=bitcoin_exporter
ExecStart=/usr/bin/bitcoin-exporter -c /etc/bitcoin/bitcoin-exporter.conf

[Install]
WantedBy=multi-user.target