[Unit]
Description=Geth Daemon
After=network.target

[Service]
EnvironmentFile=/etc/geth/geth.conf
ExecStart=/usr/bin/geth $ARGS
User=ether
Group=ether
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
